<div class="container">
<div class="row">
<div class="col-md-3"><br>
<a class="sidenav" href="/pages/about"><b>About Us</b></a>
<a class="sidenav" href="/pages/team">Team</a>


</div>







<div class="container">
<div class="row">
<div class="col-md-9">
<h1>About Us</h1>
<br>

<p>Trackschools is an extensive online ecosystem which offers a digital platform to schools.With the help of this technology driven platform, the schools can communicate their qualities effectively and in interesting ways.</p>
<p>Trackschools open to all digital space  help the schools to perform better than their competitors in the pusrsuit of attracting new students.</p>
<p>Trackschools has encompassed by best of the technology and provides parents and students to find high quality and verified information of a school across India.</p>
<p>Trackschools provides complete information of school like address,name of the principal, board, type, website address,school infrastructure and facilities, students performance, reviews and ratings by parents and students.</p>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
</div>
</div>
</div>
</div>
</div>

