<div class="container">
<div class="row">
<div class="col-md-3"><br>
<a class="sidenav" href="/pages/about"><b>About Us</b></a>
<a class="sidenav" href="/pages/team">Team</a>


</div>







<div class="container">
<div class="row">
<div class="col-md-9">
<h1>About Us</h1>

<p>Trackschools is an online ecosystem which offers digital platform to schools.It will help the schools to communicate their qualities effectively and in interesting ways.</p>

</div>
</div></div>
