<div class="container">
<div class="row">
<div class="col-md-3"><br>
<a class="sidenav" href="/pages/services"><b>Services</b></a>
<a class="sidenav" href="/pages/about">About Us</a>
<a class="sidenav" href="/pages/team">Team</a>


</div>


<div class="container">
<div class="row">
<div class="col-md-9">
<h1>Our Services</h1>
<br>




<div class="col-md-6 col-sm-6 col-xs-12">
            <div class="service-item">
              <h3><span>W</span>ebsite</h3><hr>
              <p>Trackschools create school websites that incorporate the best in fantastic design and innovative functionality.Thinking visually from the start, and working together, we balance strategy, creativity and technology to create a beautiful online presence. We will craft a high impact, feature-rich school website designed to communicate the unique values and vision of your school. We have used our vast knowledge and experience of working with schools to develop a powerful website Content Management System (ReactCMS) that is bursting with education specific functionality and is incredibly easy to use.</p>
            
            </div>
          </div>





          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="service-item">
              <h3><span>C</span>loud Platform</h3><hr>
              <p>TrackSchools cloud platform helps to improve school communications with the parents community.Cloud Platform creates a direct link between school administration and parents.</p>
             
            </div>
          </div>


 <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="service-item">
              <h3><span>S</span>tartup Prototype</h3><hr>
              <p>Establishing a web presence effectively and presenting your idea on website. Once your website is live it can get you more business.</p>
             </div>
             </div>

         
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
           
               