<div class="container">
<div class="row">
<div class="col-md-6">

<h1>New School</h1>

<%= render 'form', school: @school %>

<%= link_to 'Back', schools_path, class: "btn btn-link" %>
</div>
</div>
</div>
</div>